@page "/counter"
@using AltairCA.Blazor.WebAssembly.Cookie
@using AltairCA.Blazor.WebAssembly.Cookie.Models;
@using Newtonsoft.Json
@inject IAltairCABlazorCookieUtil _cookieUtil;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p>@Content</p>
<p>@JsonConvert.SerializeObject(@ContentObj)</p>
<button class="btn btn-primary" @onclick="IncrementCount">Create cookies</button>

@code {
    private int currentCount = 0;
    private string Content = "";
    private object ContentObj = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await _cookieUtil.SetValueAsync("c", "this is cookie with key c");
        await _cookieUtil.SetValueAsync("d", new
        {
            hello = "hello world. i am a cookie with key d"
        });
        await _cookieUtil.SetValueAsync("cookieWithSameSiteSet", "this cookie is only set for same site, cross site requests does not send this cookie according to SameSite value (lax | strict | none)", sameSite: SameSite.Lax);

    }

    private async Task IncrementCount()
    {
        currentCount++;
        Content = await _cookieUtil.GetValueAsync("c");
        ContentObj = await _cookieUtil.GetValueAsync<object>("d");
    }

}